/*
	Section 05:
	CustomPublish Classes
*/

/////////////////////////////////////////
//	Simple form
/////////////////////////////////////////

form.cpsimpleform {
	background-color: rgba(black,.05);
	padding: 1em;
	margin: 1em auto; 
	max-width: 40em;

	input {

		&[type="text"]:not([size]), &[type="email"]:not([size]), &[type="tel"]:not([size]) {
			max-width: 20em;
			width: 98%;
		}
		&[type="tel"]:not([size]) {
			width: 10em;
		}
		&[type="submit"] {
			display: block;
			margin-left: auto;
			margin-right : 0;
		}

		&:invalid { box-shadow: 0 0 5px red; }
	}

	input, textarea { max-width: 98%; }
}

label, .cpstextheading { font-weight: bold; }

fieldset {
	border: 1px solid #999999;
	margin: 1em 0;
	padding-top: 1em;
}

legend {
	font-weight: bold;
}



/////////////////////////////////////////
//	CP Forms
/////////////////////////////////////////

.cpstextheading {
	display: block;
	margin-bottom: 5px;
	margin-right: 5px;
	padding-top: 2px;
}

.cpselementcontainer {
	// border-bottom: 1px solid #E1E1E1;
	margin-bottom: 5px;
	padding: 2px 0 5px;

	.cpsstatictext {
		margin: 2px 0 5px 0;
		padding-top: 2px;
	}

	&.horizontal {
		.cpstextheading {
			float: left;
			width: 32%;
		}

		.cpsoptions, .cpsstatictext {
			float: right;
			text-align: left;
			width: 66%;
		}
	}
}

.optionshorizontal {

	.cpsradiooption, .cpscheckboxoption {
		float: left;	
		margin-right: 5px;
		white-space: nowrap;
	}
}



/////////////////////////////////////////
//	Standard Box Widget
/////////////////////////////////////////

.box {
	padding: 0;
	margin: 0 0 15px 0;
	position: relative;

	.caption {
		padding: 0px;
		margin: 0px;
	}

	.cell {
		padding: 5px;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;

		li {
			margin: 0 0 5px;
			padding: 0px;
		}

		ul {
			padding-left: 10px;
		}
	}

	p {
		padding: 0px;
		margin: 0px 0px 5px 0px;
	}
}

.author {
	color: #333333;
	font-size: 0.9em;
}

.copyright {  }



/////////////////////////////////////////
//	Page Tools
/////////////////////////////////////////

div.tools {
	margin: 15px 0px;

	a.toollink {

		&:link, &:visited { text-decoration: none; }
		&:hover, &:focus { text-decoration: underline; }
	}
}

div.pagebar { padding: 10px 0px; clear: both; }
.pagebar.prev { margin-right: 10px; }
span.arrow { padding: 0px 3px; }



/////////////////////////////////////////
//	Weather
/////////////////////////////////////////

table.weathertablefivedays {

	td {
		padding: 5px;

		.weatherlocname {
			width: 100px;
			font-weight: bold;
		}
	}
}

.weatherdaylabel, td.weatherfivedays {
	width: 75px;
}

input.newslettersubemail {
	width: 98%;
}



/////////////////////////////////////////
//	Calendar
/////////////////////////////////////////

.icalendardayhead {
	background-color: #CECECE;
}

.monthlycalendartable {
	width: 100%;
}
.calendardate {
	color:#333333;
	font-size: 0.9em;
}

h2.dayheader {
	border-bottom: 1px solid #CCCCCC;
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 10px;
}

div.calendarentry {
	font-size: 0.9em;
}

span.caltime {
	margin-right: 15px;
}

div.vevent {
	border: 1px solid #666666;
	background-color: #EEEEEE;
	padding: 5px;
}



/////////////////////////////////////////
//	Calendar Events
/////////////////////////////////////////

div.date, span.date {
	color: #999;
	font-size: 0.9em;
}

.eventdate {
	background: url("/getfile.php/981155.1554.qccuvsrypc/date.png") no-repeat scroll 0 0 transparent;
	padding: 2px 5px 0 20px;
}



/////////////////////////////////////////
//	Search Form
/////////////////////////////////////////

#searchform {
	@include span-columns(5 omega,8);
	margin-top: 25px; 
	text-align: right;

	input.searchinput {
		vertical-align: middle;
	}

	input.searchsubmit {
		vertical-align: middle;
		cursor: pointer;
	}

	.errmsg {
		font-weight: bold;
		color: #AA0000;
	}
}



/////////////////////////////////////////
//	Banners
/////////////////////////////////////////

.bannerlocation {
	clear: both;
	text-align: center;

	table {
		margin-left: auto;
		margin-right: auto;

		td {
			text-align: center;
			padding: 5px 0px;
		}
	}

	img { border-width: 0px; }
}