/*
	Section 02:
	CustomPublish Typography
*/

/////////////////////////////////////////
//	Change selection colors
/////////////////////////////////////////

@include textSelect(white, grey);

/////////////////////////////////////////
//	@Font-Face imports
/////////////////////////////////////////

// @include font-face("digital", font-files("digital/digital-7_mono-webfont.ttf", truetype, "digital/digital-7_mono-webfont.woff", woff, "digital/digital-7_mono-webfont.svg", svg), "digital/digital-7_mono-webfont.eot");

/////////////////////////////////////////
//	Font Collections
/////////////////////////////////////////

$fonts_standard		: "Segoe UI", "Myriad Pro", "Liberation Sans", "Helvetica", "Helvetica Neue", Tahoma, Arial, Sans-serif;
$fonts_light		: "Segoe UI Light", "Myriad Pro Light", "Helvetica Light", "Helvetica Neue Light" Tahoma, Arial, sans-serif;
$fonts_semibold		: "Segoe UI Semibold", "Myriad Pro Semibold", "Helvetica Medium", "Helvetica Neue Medium" Tahoma, Arial, sans-serif;
$fonts_serif		: Georgia, "DejaVu Serif", "Bitstream Vera Serif", "Times New Roman", "Liberation Serif", Times, Serif;


body {
	background-color: white;
	color: black;
	font-family: $fonts_standard;
	font-size: 75%; // 12px
	margin: 0px;
	padding: 0px;
}

table, caption, th, td {
	font-size: 1.0em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px 0px 8px;
	padding: 0px;
	font-family: $fonts_semibold;
}

h1 {
	font-size: 1.45em;

	&.headline { font-size: 1.3em; }

	&.headlineview { }
}

h2 {
	font-size: 1.3em;

	&.subheadline {
		font-size: 1.0em;
		font-weight: normal; 
		margin: 5px 0 0;
		padding: 0;
		line-height: 1.0;
	}

	&.paragraphheadline { }
}

h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5 { font-size: 1.0em; }
h6 { font-size: 1.0em; }

p {
	padding: 0px;
	margin: 4px 0px 16px 0px;
}

pre {
	font-family: "Courier New", Courier, monospace;
	font-size: 1em;
}



/////////////////////////////////////////
//	CustomPublish Links
/////////////////////////////////////////

// General Links
a {
	&:link, &:visited {
		color: #7b4e7f;
		text-decoration: none;
	}
	&:hover, &:focus { }

// Read More... (Les mer) Links
	.link {
		&:link, &:visited {
			text-decoration: underline;
		}
		&:hover, &:focus { }
	}
}



/////////////////////////////////////////
//	Copyright, CustomPublish powered link etc.
/////////////////////////////////////////

#cp {
	text-align: right;

	a { color: darken(white, 40%) }
}



/////////////////////////////////////////
//	Linked Headlines (LIST-sections)
/////////////////////////////////////////

.headlinelink {

	&:link, &:visited { text-decoration: none; }
	&:hover, &:focus { text-decoration: underline; }
}



/////////////////////////////////////////
//	Linked headlines on listing pages
/////////////////////////////////////////

.headline {
	.headlinelink {
		text-decoration: none;
		&:link, &:visited { color: $blue; }
		&:hover, &:focus { color: complement($blue); }	
	}
}



/////////////////////////////////////////
//	SITEMAP links
/////////////////////////////////////////

.tree {
	font-weight: normal;
	color: black;

	&:link, &:visited { text-decoration: none; }
	&:hover, &:focus { text-decoration: underline; }
}

.sitetree {
	font-weight: normal;
	color: black;

	&:link, &:visited { text-decoration: none; }
	&:hover, &:focus { text-decoration: underline; }
}



/////////////////////////////////////////
//	PATH Breadcrumb Navigation
/////////////////////////////////////////

#path {
	margin-bottom: 5px;

	span.arrow {
		padding: 0px 3px; 
	}
} 

// PATH Navigation links
.path {

	&:link, &:visited { text-decoration: none; }
	&:hover, &:focus { text-decoration: underline; }
}