//         __             _____________               __        
//  _____ |__| ____    __| _/\______   \ ____   _____|__| ____  
///      \|  |/    \  / __ |  |       _// __ \ /  ___/  |/    \ 
//|  Y Y  \  |   |  \/ /_/ |  |    |   \  ___/ \___ \|  |   |  \
//|__|_|  /__|___|  /\____ |  |____|_  /\_____>______>__|___|  /
//      \/        \/      \/         \/          05.04.13(1a)\/ 

//	Debug elements by placing an outline around them

@mixin dbg($color:red)
	outline: 1px dashed $color


//	Useful styles for replacing a text element with an image (e.g. logotype)

@mixin textReplace
	text-indent: -999em
	outline: none


// List reset

@mixin listReset
	margin: 0
	padding: 0
	list-style-type: none


//	Change Selection Colours

$prefixes: ("-webkit-","-moz-", "-o-", "")

@mixin textSelect($color, $background)
	@each $prefix in $prefixes
		::#{$prefix}selection
			color: $color
			background: $background


// Clearfixer
// The % Selector restricts this style rule from rendering as it's own class in the
// final CSS. Invoke using @extend %resclearfix

%resclearfix:after
	display: block
	visibility: hidden
	height: 0
	clear: both
	font-size: 1
	content: " "


//	Gradient Mixins

//	Standard lighter to darker tone gradient
@mixin gradientVertical($color :"red", $tone :"darken")

	$experimental-support-for-svg: true

	@if $tone == darken
		+background-image(linear-gradient($color, saturate(darken($color,15%),15%)))
	@else if $tone == lighten
		+background-image(linear-gradient(saturate(lighten($color,15%),15%), $color))
	@else if $tone == darkendown
		+background-image(linear-gradient(saturate(darken($color,15%),15%), $color))
	@else if $tone == lightendown
		+background-image(linear-gradient($color, saturate(lighten($color,15%),15%)))


@mixin gradientReflected($color :"red", $tone :"darken")

	$experimental-support-for-svg: true

	@if $tone == both
		+background-image(linear-gradient(lighten($color,40%), lighten($color,20%) 49%, darken($color,10%) 50%, darken($color,20%)))
	@else if $tone == darken
		+background-image(linear-gradient($color, $color 49%, darken($color,10%) 50%, darken($color,20%)))
	@else
		+background-image(linear-gradient(lighten($color,40%), lighten($color,20%) 49%, $color 50%, $color))