

//    Projects Variables
//    Variables specified here can be referenced in all SCSS files below them. As with 
//
//    Color Palette

$green				:		#316325;
$blue				:		#6299C7;

//
//    Dimensions

$total-columns		:		4;
$column-width		:		96px;
$gutter-width		:		30px;
$grid-padding		:		$gutter-width;

//
//    Breakpoints
//    example: @include at-breakpoint ($tablet) { ... }
$tablet				:		6;
$desktop			:		8;

//
//    Common Responsive breakpoints

$mobile_portrait	:		320px;
$mobile_landscape	:		480px;
$tablet_portrait	:		720px;
$tablet_landscape	:		1024px;
$standard_desktop	:		1024px;
$large_desktop		:		1824px;

//
//    Sprite methods for compass generated sprites
//    
//    I reference these at the top of my SCSS/CSS. It makes them very easy to find and
//    manipulate when you make changes to a sprite image, and to mirror those changes 
//    to the build.
//
//    The $'s denote variable examples that will alter the way compass generates
//    the sprite. Variables must be defined before the @import of the sprite that
//    they are altering.

// $icons-spacing: 50px; // Space all icons by 50px
// $ui-strap_top-repeat: repeat-x !default; // repeat-x of the image 'strap_top'

// @import "ui/*.png";
// @import "icons/*.png"

//  This scss compilation mixes the following style libraries:
//
//  * normalize.css version 2 [ http://github.com/necolas/normalize.css ] 
//    normalize.css is a popular css reset that aims to standardize HTML element
//    consistency between browsers.

@import "normalizev2";

//    It also adds basic support for HTML5 elements and fixes several browser bugs.
//  
//  * resin
//
//    My personal collection of useful styling macros (called mixins). They are not
//    compiled into the final build CSS, unless you reference a mixin.

@import "resin";

//  * Compass [ http://compass-style.org/ ]
//
//    Compass is a SASS library for generating cleaner CSS markup,
//    including easy generation of sprites and CSS3 browser prefixes.
//    Compass is required for resin.scss to function.

//    The compass library is large and can increase compile times, so
//    it's a good practice to import only the sub-libraries you intend
//    to use (see configuration below for most common).
//
//    To add additional compass libraries, search [[ http://compass-style.org/ ]]
//    docs, or uncomment '@import "compass";' to add them all.

// @import "compass";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
// @import "compass/css3/transform";
// @import "compass/css3/images";
// @import "compass/css3/font-face";

//    Susy is a compass addon that allows the construction of responsive grids.
//    Does not rely on a grid framework
@import "susy";

//  * The CustomPublish 2013 Default Stylesheet [June 2013]
//
//    The default CP stylesheet has been split into logical sections. You can
//    either edit the sections directly (recommended), import custom styles
//    at the bottom of this file or code styles directly below.

//	  Typography, Standard Links, Headline Links, Sitetree, Path
@import "_sass/CP_01_typography";

//	  Page Structure (#page, header, main, footer, etc.) & Susy methods
@import "_sass/CP_02_structure";

//    Navigation menus (topnav, mainnav)
@import "_sass/CP_03_navigation";

//    Article Listing & Article View methods
@import "_sass/CP_04_articles";

//    CustomPublish Standard Classes (Forms, Page Tools, Weather, Calendar, 
//    Searchform, Banners)
@import "_sass/CP_05_classes";

//    Printer Friendly Styles
@import "_sass/CP_print";