doctype html
html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" lang="{[[LNLANG IGNOREPAGESETTINGS=1 /]]}" xml:lang="{[[LNLANG IGNOREPAGESETTINGS=1 /]]}"
	head
		title
			| {[[HTMLTITLE /]]}
		meta http-equiv="Content-type" content="text/html; charset=UTF-8"
		meta http-equiv="cleartype" content="on"
		meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
		meta name="keywords" content="{[[METAKEYWORDS /]]}"
		meta name="description" content="{[[METADESCRIPTION /]]}"
		meta name="generator" content="www.CustomPublish.com"
		-if build?
			| {[[RSSLINK /]]}
			| {[[OGPMETA META='image' /]]}
			=stylesheet_link_tag "/cpclass/js/jquery/colorbox/example5/colorbox.css", "/stylesheet.php/#{cp_stylesheets}.css"
			=javascript_include_tag "/cpclass/js/jquery/jquery.js", "/cpclass/js/jquery/colorbox/colorbox/jquery.colorbox.js"
		-else
			=stylesheet_link_tag "style"
			=javascript_include_tag "jquery-1.9.1.min", "jquery.colorbox", "main"
			// Dimension helper will overlay a responsive development aid
			=javascript_include_tag "dimensionHelper"
		/=partial 'initColorbox'

	body<> (class="{[[MAINCLASS /]]}")
 		.skiplink
 			a href="main" title="Hopp til hovedinnholdetp&aring; siden" Hopp til hovedinnholdet p&aring; siden
 		#page<>

 			header#header
	 			.logo
	 				a#logo href="/" =image_tag lorem.image "250x80"
	 			
	 			=cp_search :submit => "button"

 				#topnav
	 				-if build?
						| {[[MENU BASE=29126 NEVEREXPAND=1  ELEMENTCLASS='menu topmenu' ELEMENTID='topmenu' HIDESPECIAL=1 /]]}
					-else
						ul#topmenu.menu.topmenu
							=partial 'menuSimple'

 				#navbar
 					-if build?
 						| {[[MENU ELEMENTCLASS='menu mainmenu' ELEMENTID='mainmenu' HIDESPECIAL=1 /]]}
 					-else
 						ul#mainmenu.menu.mainmenu
	 						=partial 'menuSubItems'

			main#main<> lang="{[[LNLANG /]]}" role="main"

				-if build?
					| {[[PATH PREFIX='<div id="path">' POSTFIX='</div>' /]]}
					| #MAIN#
				-else
					#path
						a.path.pathnum0 href="/" Home
						span.arrow »
						a.path.pathdyn.pathnum1 href="/" lorem.name
						span.arrow »
						a.path.pathdyn.pathnum2.activepath href="/" lorem.name
					=yield
				
 			#mainsidebar.sidebar<>
				.box
					h3.caption A widget
					p Some content

				-if build?
					| {[[SIDEBAR LOCATION=1 /]]}

			footer#footer
				#copyright
					-if build?
						| #COPYRIGHT#
						| {[[CONTACTINFO PREFIX='<div class="contactinfo">' POSTFIX='</div>' /]]}
						| {[[LANGUAGEBAR /]]}
					-else

						.contactinfobox
							.companyname #{site_title}
							.address
								| Postboks 0123, Fakegata 42
								| 1234 Yourtown
							.phone Tlf: +47 01 02 03 04
							.fax Faks: +47 01 02 03 05
							.email
								a.mailto href="mailto:me@myaddress.no" mailto:me@myaddress.no

				#cp
					a.cp href="http://www.custompublish.com/" target="_blank" Powered by CustomPublish AS