#loginbox
	form#cploginform method="post" action="/index.php?cat=292004"
		input name="gologin" type="hidden" value="1"
		input name="cat" type="hidden" value="292004"
		input name="mypage" type="hidden" value=""
		em style="color:#c00000"
			span#loginerror
		table#logintable border="0" width="350"
			tbody
				tr
					td#loginheader.default colspan="2"
						h1.loginheader Log in