coffee: 
	$ ->
		$(".lightbox").each ->
			this.onclick = "return false"
		$(".lightbox").colorbox
			current: "Bilde {current} av {total}"
			next: "Neste"
			previous: "Forrige"
			close: "Lukk"
			scalePhotos: true
			maxWidth: "85%"
			maxHeight: "85%"
			width: "85%"
			height: "85%"
			opacity: 0.7