li.menuitem.menulevel0.menu00001.firstitem
	a.menuitem.menulevel0 href="/" =lorem.name
li.menuitem.menulevel0.menu00002
	a.menuitem.menulevel0 href="/" =lorem.name
li.menuitem.menulevel0.menu00003
	a.menuitem.menulevel0 href="/" =lorem.name
li.menuitem.menulevel0.menu00004.hassubitem.itemslected.itemexpanded
	a.menuitem.menulevel0 href="/" =lorem.name
	ul.submenu.menulevel1
		li.menuitem.menulevel1.itemlvlnum1.firstitem
			a.menuitem.menulevel1 href="/" =lorem.name
		li.menuitem.menulevel1.itemlvlnum1
			a.menuitem.menulevel1 href="/" =lorem.name
		li.menuitem.menulevel1.itemlvlnum1
			a.menuitem.menulevel1 href="/" =lorem.name
		li.menuitem.menulevel1.itemlvlnum1.itemselected.itemselectedcurrent
			a.menuitem.menulevel1.menuitemselected.menuselected href="/" =lorem.name
		li.menuitem.menulevel1.itemlvlnum1.lastitem
			a.menuitem.menulevel1 href="/" =lorem.name
li.menuitem.menulevel0.menu00005
	a.menuitem.menulevel0 href="/" =lorem.name
li.menuitem.menulevel0.menu00006.lastitem
	a.menuitem.menulevel0 href="/" =lorem.name