/ - @navItems = 5
/ - @i = 1
/ - while @i != @navItems
/ 	li.menuitem.menulevel0(class="menu#{@i.to_s.rjust(5, '0')}")
/ 		a.menuitem.menulevel0 href="/" Navitem #{@i.to_s.rjust(5, '0')}
/ 	- @i += 1

li.menuitem.menulevel0.menu00001
	a.menuitem.menulevel0 href="/" =lorem.name
li.menuitem.menulevel0.menu00002.itemselected.itemselectedcurrent
	a.menuitem.menulevel0.menuselected.menuitemselected href="/" =lorem.name
li.menuitem.menulevel0.menu00003
	a.menuitem.menulevel0 href="/" =lorem.name
li.menuitem.menulevel0.menu00004
	a.menuitem.menulevel0 href="/" =lorem.name
li.menuitem.menulevel0.menu00005
	a.menuitem.menulevel0 href="/" =lorem.name
li.menuitem.menulevel0.menu00006
	a.menuitem.menulevel0 href="/" =lorem.name