/*
	CustomPublish Printer Friendly Stylesheet */

@media print
	*
		background-color: #FFFFFF !important
		background-image: none !important
		border-color: #666666 !important
		color: #000000 !important
		box-shadow: none !important
		text-shadow: none !important

	body
		font-size: 11pt
		font-family: $fonts_serif !important

	#top, #topnav, #navbar, #subnavbar, #mainsidebar, #footer, #cp, #searchform, .corner, #taleweb, #talewebholder, #PAFTOOLBAR, #skiplink, .skiplink, .adminbar, .cpeditlinks
		display: none !important

	#page, #main
		border: none !important
		min-width: 0 !important
		float: none !important
		width: auto !important

	.side
		padding: 0

	.box, .articleblock
		page-break-inside: avoid

	th
		background-color: #CCCCCC !important
		color: #000000 !important

	tr:nth-child(2n+1)
		background-color: #DEDEDE !important

	tr:nth-child(2n+1)
		background-color: transparent !important