/*
	Section 04:
	CustomPublish Article Listing & Article View Styles */

/////////////////////////////////////////
//	Article View
/////////////////////////////////////////

article.viewarea
	.body
		.innerbody
			p img
				margin: 20px 0
				max-width: 100%

	.viewareacontent


	.pagedescription 
		margin: 0 0 16px

	.ingress
		margin: 6px 0px 
		padding: 0px

	.ingressview
		margin: 6px 0px 
		padding: 0px

	p.byline, .byline
		margin: 10px 0 10px 0
		padding: 0px

		span
			display: block


	div.listingpic
		width: 250px
		float: right
		margin: 0 0 10px 10px



/////////////////////////////////////////
//	Articlemedia
/////////////////////////////////////////

.articlemedia
	
	.video 
		margin-bottom: 10px

	.images 
		clear: right
		width: 250px
		float: right
		margin-left: 10px



div.articleimage, div.articlemovie 
	margin-bottom: 10px

div.articlemovie .articlemovieplayer
	text-align: center

div.articleimagedesc, i.paragraphpictext 
	font-style: italic
	padding: 1px 2px



/////////////////////////////////////////
//	Viewarea block / spacing elements
/////////////////////////////////////////

.block, .articleblock
	margin-bottom: 15px

	.imgwrap
		float: left
		width: 32.5%

		img
			width: auto // For IE8
			max-width: 100%
			height: auto
	


	.textwrap
		float: right
		width: 65%


	.nopic
		// Full text width, if no listing image
		.textwrap
			float: none
			width: auto
	


/////////////////////////////////////////
//	2 COLUMN Layout
/////////////////////////////////////////

div.twocol

	& > .col 
		width: 49%

		&.col0 
			clear: both
			float: left
	

		&.col1 
			clear: right
			float: right
			margin-right: 0
	




/////////////////////////////////////////
//	3 COLUMN Layout
/////////////////////////////////////////

div.threecol

	& > .col
		width: 32%
		float: left
		margin-right: 2%

		&.col0 
			clear: both
	

		&.col1 
			margin-right: 0
	

		&.col2 
			clear: right
			float: right
			margin-right: 0
	


	.textwrap, .imgwrap
		float: none
		width: auto




/////////////////////////////////////////
//	4 COLUMN Layout
/////////////////////////////////////////

div.fourcol

	& > .col 
		width: 23%
		float: left
		margin-right: 2%

		&.col0
			clear: both
	

		&.col2 
			margin-right: 0
	

		&.col3 
			clear: right
			float: right
			margin-right: 0
	


	.textwrap, .imgwrap
		float: none
		width: auto




/////////////////////////////////////////
// Listing / View Elements
/////////////////////////////////////////

.listingarea hr, div.hr
	// Replacement for hr (easier to style in older browsers)
	background-color: transparent
	border-width: 0 0 1px
	border-style: solid
	border-color: #000000
	font-size: 1px
	clear: both
	height: 10px
	margin-bottom: 10px

div.body
	clear: both 
	margin: 0px 0px 22px 0px

div.articleparagraph
	margin-bottom: 16px

// Clearfix to clear floating elements above
.clearfix
	clear: both
	font-size: 1px
	height: 0px

// .cf to wrap floating elements inside
.cf
	*zoom: 1 // IE6 & IE7

	&:before
		content: " "
		display: table


	&:after
		content: " "
		display: table
		clear: both 


.hidewhitespace
	display: none