/*
	Section 03:
	CustomPublish Navigation */

/////////////////////////////////////////
//	General Menu Styles
/////////////////////////////////////////

ul.menu
	margin: 0px
	padding: 0px
	list-style-type: none

	ul
		@extend ul.menu
		padding-left: 10px


	li
		margin: 0px
		padding: 0px

		&.spacingabove
			margin-top: 10px

		&.spacingbelow
			margin-bottom: 10px


	a
		&:link, &:visited
			color: $blue
			text-decoration: none
	
		&:hover, &:focus
			color: complement($blue)
			text-decoration: underline
		
	

		a.menuselected
			&:link, &:visited
				text-decoration: underline
		
			&:hover, &:focus
				text-decoration: underline


ul.submenu
	@extend ul.menu
	padding-left: 10px

	li
		margin: 0px
		padding: 0px



/////////////////////////////////////////
//	Top Navigation
/////////////////////////////////////////

#topnav
	
	@include span-columns (8, 8)
	margin: 20px 0

	ul#topmenu

		li
			float: left
			margin: 0 5px

			a
				background: darken(white, 5%)
				display: block
				padding: 4px 8px
		
			&.itemselected

				a
					background: $blue
					color: white
					text-decoration: none
			
			&:hover, &:focus

				a
					background: complement($blue)
					color: white
					text-decoration: none
							


/////////////////////////////////////////
//	#NAVBAR Main Navigation (Sidebar)
/////////////////////////////////////////

#navbar
	@include span-columns(2,8)

	ul#mainmenu

		li
			margin: 5px 0

			a
				background: darken(white, 5%)
				display: block
				padding: 4px 0
				text-indent: 20px