/*
	Section 01:
	CustomPublish Page Layout & Structural Elements */

#page
	+container ($total-columns, $tablet, $desktop)
	+box-shadow (0 3px 8px 0 rgba(black, .25))
	//+susy-grid-background()
	text-align: left
	margin-bottom: 20px


header, #header
	+bleed($gutter-width)

	.logo
		+span-columns (2, 8)

		img
			max-width: 100%
	

main, #main
	+span-columns (4, 8)
	min-height: 500px 


#mainsidebar
	+span-columns (2 omega, 8)


#footer
	+span-columns (8, 8)
	+bleed ($gutter-width)

	clear: both
	margin-top: 20px
	margin-bottom: 20px
	text-align: center



/////////////////////////////////////////
// Alternative layout settings
/////////////////////////////////////////

// No Sidebar
.widemain

	#main
		float: right
		//width: $maincontent_width - $sidebar_width


	#navbar
		margin-right: 0


	#mainsidebar
		display: none


// No Sidebar or Navbar
.widefull

	#main
		float: none
		width: auto


	#navbar, #mainsidebar
		display: none




/////////////////////////////////////////
// Page Elements
/////////////////////////////////////////

div.skiplink
	a
		position: absolute
		top: -190px
		&:focus, &:hover
			position: static
			left: 0
			width: auto