.listingarea
	.articlelist


		article.articleblock.article0
			.imgwrap
				a href=""
					=lorempixel "400x300"
			.textwrap
				h1.headline
					a.headlinelink href="/" =lorem.words 6
				h2 =lorem.words 6

				.ingress
					=lorem.paragraphs 1

				.byline
					.date 27.06.2013
					.author =lorem.name

				a.link href="/" Les mer
			.clearfix


		article.articleblock.article1
			.imgwrap
				a href=""
					=lorempixel "400x300"
			.textwrap
				h1.headline
					a.headlinelink href="/" =lorem.words 6
				h2 =lorem.words 6

				.ingress
					=lorem.paragraphs 1

				.byline
					.date 27.06.2013
					.author =lorem.name

				a.link href="/" Les mer
			.clearfix


		article.articleblock.article2
			.imgwrap
				a href=""
					=lorempixel "400x300"
			.textwrap
				h1.headline
					a.headlinelink href="/" =lorem.words 6
				h2 =lorem.words 6

				.ingress
					=lorem.paragraphs 1

				.byline
					.date 27.06.2013
					.author =lorem.name

				a.link href="/" Les mer
			.clearfix


		article.articleblock.article3
			.imgwrap
				a href=""
					=lorempixel "400x300"
			.textwrap
				h1.headline
					a.headlinelink href="/" =lorem.words 6
				h2 =lorem.words 6

				.ingress
					=lorem.paragraphs 1

				.byline
					.date 27.06.2013
					.author =lorem.name

				a.link href="/" Les mer
			.clearfix


		article.articleblock.article4
			.imgwrap
				a href=""
					=lorempixel "400x300"
			.textwrap
				h1.headline
					a.headlinelink href="/" =lorem.words 6
				h2 =lorem.words 6

				.ingress
					=lorem.paragraphs 1

				.byline
					.date 27.06.2013
					.author =lorem.name

				a.link href="/" Les mer
			.clearfix