.viewarea
	.article.viewareacontent
		h1.headlineview =lorem.words 6
		h2.subheadline =lorem.words 6

		.ingressview
			p =lorem.paragraphs 1

		.body
			.innerbody

				p =lorem.paragraphs 1
				p =lorempixel "200x200"
				p =lorem.paragraphs 1
				p =lorem.paragraphs 1

		.byline
			span.date Opprettet: tirsdag 18. desember 2013
			span.date Sist endret: fredag 22. mars 2013
			span.author
				| Skrevet av: 
				a.bylinelink href="/" =lorem.name

		.tools
			a.toollink.shareonlink.facebooklink href="/"
				img src="http://custompublish.com/images/shareon/facebook_share_icon.gif" alt="Share on Facebook" style="margin-bottom:-5px;"
			a.toollink.tipslink.tipslinkicon href="/" title="E-mail this"
				img src="http://custompublish.com/images/emmaicons/iconMailThis.gif" width="19" height="13" border="0" alt="E-mail this"
			a.toollink.printlink.printlinkicon href="/" title="Print this"
				img src="http://custompublish.com/images/emmaicons/iconPrint.gif" width="19" height="13" border="0" alt="Print this"